{{!-- bootstrap classes used to develop structure
<div class="container p-5">
   <form class="m-4"> 
    <h2 class="m-2">I am always here if you have any queries..... <br></h2>
    <h3 class="m-2">Contact me anytime</h3>
    <div class="d-flex justify-content-between p-2">
  <div class="form-group" style="width:48%;">
    <label class="m-2" for="Name">Name</label>
    <input type="text" class="form-control"  id="Name" placeholder="Full Name">
  </div>
  <div class="form-group " style="width:48%;">
    <label class="m-2" for="Email">Your Email</label>
    <input type="email" class="form-control" id="Email" placeholder="youremail@email.com">
  </div>
  </div>
   <div  class="form-group">
    <label class="m-2" for="Message">Message</label>
    <textarea class="form-control" id="Message" rows="15"></textarea>
  </div>
  <div  style="width: 70%; margin: 20px auto;">
  <button type="submit" style="background-color: orange; width: 100%;" class="btn m-2">Submit</button>
  </div>  
</form>
</div> --}}
{{!-- 
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">Hello !! Contact Me Here :</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Full Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Your Full Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <textarea class="form-control" id="inputMessage" rows="8" placeholder="Your Message"></textarea>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div> --}}



<div class="container mt-5 mb-5" style="background-color: #aaf5f4; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); padding: 40px;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">Hello !! Contact Me Here :</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Full Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Your Full Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <textarea class="form-control" id="inputMessage" rows="8" placeholder="Your Message"></textarea>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
